# Este arquivo consolida todos os ExternalSecrets para a aplicação do Worker.

# --- ExternalSecret para PostgreSQL ---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: postgres-db-secret
  namespace: fiapx-worker
spec:
  refreshInterval: "1h"
  secretStoreRef:
    name: cluster-secretstore
    kind: ClusterSecretStore
  target:
    name: postgres-credentials
    creationPolicy: Owner
  dataFrom:
  - extract:
      key: arn:aws:secretsmanager:us-east-1:239409137076:secret:rds!db-ee459848-fadb-4fb2-b6fc-0457b17f4fe2-8Lyvxs
---
# --- ExternalSecret para RabbitMQ (Amazon MQ) ---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: rabbitmq-secret
  namespace: fiapx-worker
spec:
  refreshInterval: "1h"
  secretStoreRef:
    name: cluster-secretstore
    kind: ClusterSecretStore
  target:
    name: rabbitmq-credentials
    creationPolicy: Owner
  dataFrom:
  - extract:
      key: arn:aws:secretsmanager:us-east-1:239409137076:secret:fiapx-rabbitmq-password-91xBG4
---
# --- ExternalSecret para Redis ---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: redis-secret
  namespace: fiapx-worker
spec:
  refreshInterval: "1h"
  secretStoreRef:
    name: cluster-secretstore
    kind: ClusterSecretStore
  target:
    name: redis-credentials
    creationPolicy: Owner
  dataFrom:
  - extract:
      key: arn:aws:secretsmanager:us-east-1:239409137076:secret:/fiapx-redis/redis/user_password-v3-cB02YF
