# Configuração de segredos do Worker usando sua própria identidade (IRSA)
apiVersion: external-secrets.io/v1
kind: SecretStore
metadata:
  name: worker-secretstore
  namespace: fiapx-worker
spec:
  provider:
    aws:
      service: SecretsManager
      region: us-east-1
      auth:
        jwt:
          serviceAccountRef:
            name: worker-service-account
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: postgres-db-secret
  namespace: fiapx-worker
spec:
  refreshInterval: "1h"
  secretStoreRef:
    name: worker-secretstore
    kind: SecretStore
  target:
    name: postgres-credentials
    creationPolicy: Owner
  dataFrom:
  - extract:
      key: arn:aws:secretsmanager:us-east-1:239409137076:secret:rds!db-ee459848-fadb-4fb2-b6fc-0457b17f4fe2-8Lyvxs
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: rabbitmq-secret
  namespace: fiapx-worker
spec:
  refreshInterval: "1h"
  secretStoreRef:
    name: worker-secretstore
    kind: SecretStore
  target:
    name: rabbitmq-credentials
    creationPolicy: Owner
  data:
  - secretKey: password # Mapeia a string bruta para a chave 'password'
    remoteRef:
      key: arn:aws:secretsmanager:us-east-1:239409137076:secret:fiapx-rabbitmq-password-91xBG4
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: redis-secret
  namespace: fiapx-worker
spec:
  refreshInterval: "1h"
  secretStoreRef:
    name: worker-secretstore
    kind: SecretStore
  target:
    name: redis-credentials
    creationPolicy: Owner
  data:
  - secretKey: password
    remoteRef:
      key: arn:aws:secretsmanager:us-east-1:239409137076:secret:/fiapx-redis/redis/user_password-v3-cB02YF
      property: ""
