apiVersion: v1
kind: Service
metadata:
  name: worker-service
  namespace: fiapx-worker
  labels:
    app: worker
spec:
  selector:
    app: worker
  ports:
    - name: metrics
      protocol: TCP
      port: 8001
      targetPort: 8001
