name: PR de Feature para Develop

on:
  push:
    branches:
      - 'feature/**'
    
jobs:
  sonar_analyse:
    name: Build and analyze SonarQube /develop
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Shallow clones should be disabled for a better relevance of analysis
      
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r gateway-repo/app/requirements.txt
          pip install pytest pytest-cov

      - name: Test with Pytest
        run: |
          export PYTHONPATH=gateway-repo/app
          pytest --cov=. --cov-report=xml:coverage.xml

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  create_pull_request:
    runs-on: ubuntu-latest
    needs: sonar_analyse
    
    permissions:
      pull-requests: write
      contents: write
    steps:
      - name: Checkout do código
        uses: actions/checkout@v4
        
      - name: Criar Pull Request para develop
        uses: repo-sync/pull-request@v2
        with:
          source_branch: ${{ github.ref_name }}
          destination_branch: "develop"
          pr_title: "PR aberto automaticamente: ${{ github.ref_name }} to develop"
          pr_body: |
            Build da aplicação Python e da imagem Docker concluídos com sucesso.
            O PR está pronto para revisão.
          pr_label: "automação,docker"
          github_token: ${{ secrets.GITHUB_TOKEN }}


          